/* ESTILO GERAL-------------------------------------------------------------- */
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif
}

body{
        background: rgb(0, 0, 0);
        height: 100vh;
}

.interface{
        max-width: 1280px;
        margin: 0 auto;
}
.flex{
        display: flex;
}
.btn-contato button{
        padding: 10px 40px;
        font-size: 18px;
        font-weight: 600;
        background-color: crimson;
        border: 0;
        border-radius: 30px;
        cursor: pointer;
        transition: .2s;
}
h2.titulo{
        color: aliceblue;
        font-size: 34px;
        text-align: center;
}
h2.titulo span{
        color: crimson;
}
button:hover, form .btn-enviar input:hover{
        box-shadow: 0px 0px 8px red;
        transform: scale(1.05);
}
/* ESTILO DO CABEÇALHO------------------------------------------------------- */
header{
        padding: 40px 4%
}

header > .interface{
        display: flex;
        align-items: center;
        justify-content: space-between;
}
.menu-mobile-items {
        display: none;
        position: absolute; /* Posicionamento absoluto */
        right: 5%;
        width: 70%;
        height: 20%;

        flex-direction: column;
        border-radius: 10px;
        background-color: #ffffff; /* Cor de fundo */
        box-shadow: 0px 4px 8px rgb(248, 0, 0); /* Sombras para o menu */
        padding: 10px; /* Espaçamento interno */
        z-index: 1000; /* Garante que o menu fique sobre outros elementos */
        text-align: left;
}
/* Exibe o menu em formato de coluna */
.menu-mobile-items li {
        list-style: none; /* Remove o marcador de lista */
        padding: 8px 0; /* Espaçamento entre os itens */
        text-align: left; /* Alinha o texto à esquerda */
    }
    
    /* Estilo dos links dentro do menu mobile */
    .menu-mobile-items li a {
        text-decoration: none; /* Remove sublinhado */
        color: #333; /* Cor do texto */
        font-size: 25px; /* Tamanho da fonte */
    }
/* Mostra o menu mobile quando a classe "active" é adicionada */
.menu-mobile-items.active {
        display: flex;
}
.menu-toggle {
        display: none;
        cursor: pointer;
        font-size: 48px;
        color: crimson; /* Cor do ícone do menu */
}
    
.logo img{
        height: 140px;
        width: 360px;
}
header a{
        color: #bd0000;
        text-decoration:none;
        display: inline-block;
        transition: .2s;
}
header a:hover{
        color: aliceblue;
        transform: scale(1.05);
}

header nav ul{
        list-style-type:none;
}

header nav ul li{
        display: inline-block;
        padding: 0 40px;
}
/* PÁGINA INICIAL------------------------------------------------------------ */
.MinhaPessoa img{
        height: 10%;
        width: 55%;
        align-items: last baseline;
        border: 3px solid red;
        border-radius: 80px;
}
section.topo-do-site{
        padding: 200px 4%;
}
section.topo-do-site .flex{
        align-items: center;
        justify-content: center;
        gap: 280px;
}
.topo-do-site .txt-topo-site h1{
        color: rgb(255, 255, 255);
        font-size: 32px;
        line-height: 40px;
}
.topo-do-site .txt-topo-site h1 span{
        color: crimson;
}
.topo-do-site .txt-topo-site p{
        color: aliceblue;
        margin: 40px 0;
}

.topo-do-site .MinhaPessoa img{
        position: relative;
        animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
        0%{
                top: 0;
        }
        100%{
                top:30px;
        }
}
/* ESPECIALIDADES------------------------------------------------------------ */
section.especialidades{
        padding: 40px 4%;
}

section.especialidades .flex{
        gap: 60px;
}

.especialidades .especialidades-box{
        color: aliceblue;
        padding: 40px;
        border-radius: 20px;
        border: 2px solid rgb(0, 0, 0);
        margin-top: 30px;
        transition: .2s;
}
.especialidades .especialidades-box:hover{
        transform: scale(1.05);
        box-shadow: 0 0 20px rgb(255, 0, 0);
}
.especialidades .especialidades-box i{
        font-size: 80px;
        color: crimson;
}
.especialidades .especialidades-box h3{
        font-size: 30px;
        margin: 15px 0;
}
/* SOBRE--------------------------------------------------------------------- */
.img-sobre img{
        height: 100%;
        width: 100%;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 20px;
}
section.portifolio{
        padding: 200px 4%;
}
section.portifolio .flex{
        align-items: center;
        gap: 60px;
}
.portifolio .txt-sobre{
        color: aliceblue;
}
.portifolio .txt-sobre h2{
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 30px;
        text-align: center;
}
.portifolio .txt-sobre h2 span{
        color: red;
        display: block;
}
.portifolio .txt-sobre p{
        font-size: 20px;
        margin: 20px 0;
        text-align: center;
}
.portifolio .txt-sobre p1{
        color: #bd0000;
        font-size: 20px;
        margin: 20px 0;
        text-align: justify;
}
.portifolio .txt-sobre p1 span{
        color: aliceblue;
        font-size: 15px;
}
.btn-social button{
        width: 60px;
        height: 60px;
        border-radius: 30px;
        border: 0;
        background-color: red;
        font-size: 25px;
        cursor: pointer;
        margin: 0 10px;
        transition: .2s;
}
.portifolio .btn-social button{
        width: 30px;
        height: 60px;
        border-radius: 30px;
        border: 0;
        background-color: red;
        font-size: 25px;
        cursor: pointer;
        margin: 0 10px;
        transition: .2s;
        flex-direction: column;
        margin-top: 100px;
}
/* PROJETOS------------------------------------------------------------------ */
section.projetos{
        padding: 80px 4%;
        box-shadow: 0 0 400px 10px rgba(255, 0, 0, 0.63);
}

section.projetos .titulo{
        padding: 50px;
}
section.projetos .flex{
        justify-content: space-around;
        margin-top: 60px;
}
.imgport{
        width: 360px;
        height: 460px;
        aspect-ratio: 1 / 0.7;
        cursor: pointer;
        border-radius: 8px;
        position: relative;
}
.imgport .descrição{
        visibility: hidden;
}
.imgport .image-box img{
        border-radius: 50px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s ease-in-out;
}
.imgport::after {
        content: "";
        position: absolute;
        inset: 0;
        border: 2px solid white;
        border-radius: inherit;
        opacity: 0;
        transition: 0.4s ease-in-out;
}
.imgport:hover img{
        filter: 
        grayscale(1)
        brightness(0.4);
}
.imgport:hover::after{
        opacity: 1;
        inset: 20px;
}
.imgport:hover .descrição h2 {
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #ffffff;
        scale: 1;
        opacity: 1;
}
.imgport:hover .descrição p {
        visibility: visible;
        position: absolute;
        padding: 25px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #ffffff;
        opacity: 1;
        transform: translateY(0);
}
.link-clicavel {
        position: absolute;
        inset: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: inherit;
        z-index: 2;
    }
    
    .link-clicavel .descrição {
        visibility: hidden;
    }
    
    .imgport:hover .link-clicavel .descrição h2,
    .imgport:hover .link-clicavel .descrição p {
        visibility: visible;
        color: #ffffff;
    }

/* FORMULARIO---------------------------------------------------------------- */
section.formulario{
        padding: 80px 4%;
}
form{
        max-width: 500px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 70px;
}
form input, form textarea{
        width: 100%;
        background-color: rgb(39, 39, 39);
        border: 0;
        outline: 0;
        padding: 20px 15px;
        border-radius: 15px;
        color: aliceblue;
        font-size: 18px;
}
form textarea{
        resize: none;
        max-height: 200px;
}
form input::placeholder{
        color: crimson;
}
form textarea::placeholder{
        color: crimson;
}
form .btn-enviar{
        margin-top: 20px;
        text-align: center;
}
form .btn-enviar input{
        width: 120px;
        background-color: crimson;
        color: black;
        cursor: pointer;
        font-weight: 700;
        transition: .2s;
}
/* FOOTER---------------------------------------------------------------- */
footer{
        padding: 40px 4%;
        box-shadow: 0 0 40px 10px rgba(255, 0, 0, 0.63);

}
footer .line-footer .flex .btn-social{
        justify-content: space-between;
        padding: 10px;
}

footer .line-footer{
        padding: 20px;
}
.borda{
        border-top: 2px solid crimson;
}

footer .line-footer p i{
        color: red;
        font-size: 22px;
}
footer .line-footer p a{
        color: aliceblue;
}

/* CELULAR--------------------------------------------------------------- */
@media screen and (max-width: 500px){
/* GERAIS---------------------------------------------------------------- */
        .flex{
                flex-direction: column;
        }
        .topo-do-site .flex{
                display: flex;
                justify-content: space-between; /* Espaço entre a logo e o menu */
                align-items: center;
                padding: 0px 5px; /* Espaçamento interno */
                flex-direction: column-reverse;
        }
        .MinhaPessoa img{
                width: 100%; /* Ocupa toda a largura do contêiner */
                height: auto; /* Mantém proporção */
                display: block; /* Remove espaçamento extra */
        }
        .logo img{
                max-height: 50px; /* Ajuste a altura máxima da logo */
                width: auto; /* Mantém proporção */
        }
        .interface .logo{
                gap: 10px;
        }
        .img-sobre img{
                height: 800%;
                width: 100%;
                border: 2px solid red;
                border-radius: 200px;
        }
/* CABEÇALHO------------------------------------------------------------- */
        .menu-desktop, .btn-contato{
                display: none;
        }
/* TOPO DO SITE---------------------------------------------------------- */
        .section .topo-do-site{
                padding: 20px 8%;
        }
        .section .topo-do-site .flex{
                gap: 10px;
        }
        .topo-do-site .txt-topo-site h1{
                font-size: 28px;
        }
        section.topo-do-site{
                padding: 200px 8%;
        }
        section.topo-do-site .flex{
                gap: 100px;
        }
        .topo-do-site .txt-topo-site h1{
                font-size: 32px;
                text-align: center;
        }
        .topo-do-site .txt-topo-site p{
                margin: 20px 0;
                text-align: center;
        }
        .section .especialidades{
                gap: 0px;
        }
/* SOBRE----------------------------------------------------------------- */
        section.portifolio{
                padding: 80px 8%;
        }
        section.portifolio .flex{
                gap: 50px;
        }
        .portifolio .txt-sobre h2{
                font-size: 30px;
                line-height: 40px;
                text-align: center;
        }
        .portifolio .txt-sobre p{
                font-size: 25px;
                margin: 20px 0;
                text-align: center;
        }
        .portifolio .txt-sobre p1{
                font-size: 30px;

        }
        .portifolio .txt-sobre p1 span{
                font-size: 15px;
                text-align: center;
        }
        .img-sobre img{
                scale: 80%;
        }
/* PROJETOS-------------------------------------------------------------- */
        section.projetos{
                padding: 20px 8%;
        }
        .imgport{
                width: 100%;
                height: 360px;
                margin: 0 auto;
        }
        section.projetos .flex{
                gap: 60px;
        }
        .imgport:hover .descrição h2 {
                width: 100%;
                height: 30%;
        }
        footer .line-footer .btn-social button{
                width: 22%;
                
        }
        footer .line-footer{
                font-size: 14px;
                text-align: center;
        }
/* Esconde o Menu Desktop e Mostra o Mobile--------------------------------*/
.menu-desktop {
        display: none;
    }
.menu-toggle {
        display: block; /* Mostra o menu mobile */
    }
}